{% load static %}
<div class="header_main">
		
		<div class="sub_header sub_header_contenido" data-reactid="3">
			
			<div class="contenedor_h1 " >
				<a href="/" class="boton_notify a_titulo" href="" >
					Omnilatam 
				</a>
			</div>

    		{% if request.user.is_authenticated %}
			<div class="div_principal_ul">
			{% else %}
			<div class="div_principal_ul_withou">	
			{% endif %}
				<div class="menu_div column">
					
					<div class="menu_div_contenido">
						<ul>
							<li>
								<div class="buscador div_responsive_none">
									<div class="buscar_contenido">
										
										<form id="buscador" method="GET" action="/buscar/">
											
											<input id="buscar" type="text" name="busqueda" autocomplete="off" placeholder="Buscar">

											<button class="buscar_icono">
                                				<i class="fab fa-searchengin"></i>
											</button>

										</form>

									</div>
								</div>

								<div id="resultados">
									
								</div>
							</li>
						</ul>
					</div>

				</div>
				
				{% if user.is_authenticated %}
				<div class="mas_item column">


						<div class="div_responsive_none" style="position: relative; 
    					text-align: center;">
						<a class="boton_notify" href="{% url 'order-sumary' %}" style="margin-right: 2px; position: relative;">
							<i class="fas fa-cart-plus"></i>

                            </i>
						</a>
						</div>

				</div>
				{% endif %}

				{% if request.user.is_authenticated %}
				<div class="column">
						<div class="div_responsive_none" style="text-align:center;">
						<a class="boton_notify" href="{% url 'notificaciones' %}" style="margin-right: 5px; position: relative;" >
						
							<i class="icono-fa fas fa-bell notificacion" style="color: #333;"></i>
							
						</a>
						</div>

				</div>
				{% endif %}

				{% if request.user.is_authenticated %}
				<div class="column">
						<div>
							<a href="{% url 'profile' %}">
								<img src="https://i.imgur.com/dGo8DOk.jpg" class="img_perfil margiin_img">
							</a>
						</div>
				</div>
				{% endif %}

				{% if user.is_authenticated %}
				{% else %}

				<div class="column div_register">
					<div>
                		<a href="{% url 'signup' %}" class="boton_header">
                    		Registrate
                		</a>
            		</div>
				</div>

				<div class="column div_login">
					<div style="margin-left: 5px;">
                		<a href="{% url 'login' %}" class="boton_header">
                    		Iniciar Sesion
                		</a>
            		</div>
				</div>

				{% endif %}

			</div>

		</div>

</div>

<style>

	li{
		list-style: none;
	}

</style>
