{% extends 'base.html' %}

{% block contenido %}

<div>
	<form method="POST" class="signup-form">
		{% csrf_token %}
		
		<p>
			<label for="id_username">Email:</label> 
			<input name="username" class="form-control" type="text" id="id_username">
		</p>

		<p>
			<label for="id_password1">Password:</label> 
			<input type="password" name="password" autocomplete="new-password" required="" id="id_password1"> 
		</p>

		
		<button type="submit">
			Log In
		</button>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

$('.signup-form').submit(function(event){
	event.preventDefault()
	var this_ = $(this)
	var formData = this_.serialize()
	console.log(formData)

	$.ajax({

		url : "/users/login/",
		data : formData,
		method : "POST",

		success : function(data){
			console.log(data)
			window.location.href = "/profile/"
		}, 

		error : function(data){
			console.log(data.status)
		}

	})

})

</script>



{% endblock %}