{% extends 'base.html' %}

{% block contenido %}

<div class="div-profile">

	<div class="header_notify">
		<h3>
			Welcome @{{request.user}}
		</h3>
		<p>
			<button  class="a-logout">
			 <small>
			 	Log out
			 </small>
			</button>


			<a href="">
			<button  class="b-sell">
			 <small>
			 	View all order
			 </small>
			</button>
			</a>

		</p>
	
	</div>

</div>

{{orders}}

{% for orders in orders %}

{{orders}}

{% empty %}
<h1>No hay orders</h1>
{% endfor %}


<style>

.div-profile{
	padding-top: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3.5em;

	overflow: auto;
	height: 100%;
}

.a-logout, .b-sell{
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	color: #333;
	border: 1px solid #333;
	
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

$('.a-logout').click(function(event){
	event.preventDefault()
	var this_ = $(this)
	var formData = this_.serialize()
	console.log(formData)

	$.ajax({

		url : "/users/logout/",
		data : formData,
		method : "GET",

		success : function(data){
			console.log(data)
			window.location.href = "/"
		}, 

		error : function(data){
			console.log(data.status)
		}

	})

})


</script>


{% endblock %}