{% extends 'base.html' %}

{% block contenido %}

<div class="div-profile">

	<div class="header_notify">
		<h3>
			Welcome @{{request.user}}
		</h3>
		<p>
			<button  class="a-logout">
			 <small>
			 	Log out
			 </small>
			</button>

		</p>
	
	</div>

</div>

<div class="div-header-order">
	<h3>
		Orders
	</h3>
</div>

<div class="div-order">
	{% for order in orders %}
	
	<div class="div-order-customer">
		<a href="{% url 'order-seller' order.pk %}">
		<div class="div-content-order">

					<div class="div-img-order-customer">
						<img src="https://i.imgur.com/dGo8DOk.jpg" class="img_perfil margiin_img">
					</div>

					<div class="ml-2" >
						<h5>{{order.user.username}}</h5>
						
					</div>
		</div>
		</a>
				<div>
					<p style="text-align: right;">
						Estado: {% if order.purchased %}Completada{% else %}Incompleta{% endif %}
					</p>
				</div>
	</div>

	</div>
	{% empty %}
	<h1>No hay orders</h1>

	{% endfor %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

$('.a-logout').click(function(event){
	event.preventDefault()
	var this_ = $(this)
	var formData = this_.serialize()
	console.log(formData)

	$.ajax({

		url : "/users/logout/",
		data : formData,
		method : "GET",

		success : function(data){
			console.log(data)
			window.location.href = "/"
		}, 

		error : function(data){
			console.log(data.status)
		}

	})

})


</script>


{% endblock %}