{% extends 'base.html' %}
{% load static %}

{% block contenido %}


	<div class="container_mainCheckouts" >

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  	<span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
 
         

	<h6>TU CARRITO</h6>
	<div class="checkContainer">
		
		{% for item in order.product.all %}

		{% if item.amount == 0 %}
		{% else %}	
		<div class="div_producto">
			<div class="d-flex align-items-center" >
				<img src="{{item.content_object.imagen.url}}">
				<div class="ml-2">
					<h5>{{item.content_object.title}}</h5>
					<p>{{item.content_object.description}}</p>

					<span><strong>USD:</strong> ${{item.content_object.price}} </span>
					<div>
						<span><strong>Cantidad:</strong> {{item.amount}} </span>
					</div>
				</div>
			</div>

			<div>
				<a href="{% url 'add_to_cart' item.content_object.slug %}">
					<button>+</button>
				</a>
				<a href="{% url 'remove_single_to_cart' item.content_object.slug %}">
					<button>-</button>
				</a>
				<a href="">
					<button>
						<img src="{% static 'img/delete.png' %}" style="width: 17px; height: 18px;">
					</button>
				</a>
			</div>

			<a href="{% url 'payment' %}">
			<button class="ShowMore">
				Pagar compra
			</button>
			</a>

		</div>
		{% endif %}

		{% empty %}
			<p class="p_empty"><strong>Tu carrito esta vacio</strong></p>	
		{% endfor %}
		

	</div>

	</div>


<script>

	var closeBtn = document.getElementsByClassName("close")

	closeBtn[0].addEventListener("click", function(){
		this.parentElement.style.display="none";
	})

</script>

{% endblock %}