{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<div class="Div_main_notifi">

	<div class="header_notify">
		<a href="{% url 'home' %}">
			<img src="{% static 'img/arrow.png' %}" style="width: 15px;">
		</a>
		<h3>
			Tus notificaciones
		</h3>
	
	</div>

	<div class="DivNotificaciones">
		
		{% for notificacion in notificacion %}
			<div class="div_per_notify">
				<div class="div_content_notifi">

					<div class="div_img_notifi">
						<img src="https://i.imgur.com/dGo8DOk.jpg" class="img_perfil margiin_img">
					</div>

					<div class="ml-2" >
						<h5>The user @{{notificacion.actor}} {{notificacion.verb}}</h5>
						
					</div>
				</div>

				<div>
					<p style="text-align: right;">
						Hace {{notificacion.timesince}}
					</p>
				</div>
		
			</div>
		{% endfor %}

	</div>

</div>


{% endblock %}